@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}

.form {
  margin: 2*$base-size;
  width: 200px;
  >* {
    margin: $base-size/2;
  }
}

.box {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: flex-end;

}

.button {
  padding: $base-size 2*$base-size;
}

